*{
    padding: 0;
    margin: 0;
}

.colors_type {
position: relative;
width: 1440px;
height: 900px;
background: #FFFFFF;
}

.logo {
position: absolute;
width: 48px;
height: 48px;
left: 30px;
top: 30px;
}

.color__box {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    left: 150px;
}

.color__name {
position: absolute;
height: 56px;
left: 260px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 28px;
display: flex;
align-items: center;
color: #1F2041;
}

.color__box_Dark-Shade-100 {
    top: 145px;
    background: #1F2041;
}

.color__name_Dark-Shade-100 {
    width: 171px;
    top: 152px;
}

.color__box_Dark-Shade-75 {
    top: 235px;
    background: rgba(31, 32, 65, 0.75);
}

.color__name_Dark-Shade-75 {
    width: 161px;
    top: 242px;
}
.color__box_Dark-Shade-50 {
    top: 324.56px;
    background: rgba(31, 32, 65, 0.5);
}

.color__name_Dark-Shade-50 {
    width: 162px;
    top: 332px;
}
.color__box_Dark-Shade-25 {
    top: 415px;
    background: rgba(31, 32, 65, 0.25);
}

.color__name_Dark-Shade-25 {
    width: 161px;
    top: 422px;
}
.color__box_Dark-Shade-5 {
    top: 505px;
    background: rgba(31, 32, 65, 0.05);
}

.color__name_Dark-Shade-5 {
    width: 149px;
    top: 512px;
}
.color__box_purple {
    top: 595px;
    background: #BC9CFF;
}

.color__name_purple {
    width: 91px;
    top: 602px;
}
.color__box_green {
    top: 685px;
    background: #6FCF97;
}

.color__name_green {
    width: 86px;
    top: 692px;
}

.font__teg_h1 {
    position: absolute;
    width: 29px;
    height: 30px;
    left: 854px;
    top: 145px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: right;
    
    /* Dark 25% */
    
    color: rgba(31, 32, 65, 0.25);
}
.font__text_h1 {
    position: absolute;
    width: 369px;
    height: 59px;
    left: 913px;
    top: 145px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    /* Dark 100% */
    
    color: #1F2041;
}
.font__teg_h2 {
position: absolute;
width: 27px;
height: 24px;
left: 856px;
top: 255px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 23px;
/* identical to box height */

text-align: right;

/* Dark 25% */

color: rgba(31, 32, 65, 0.25);
}
.font__text_h2 {
/* Next one is the item title inside widgets */

position: absolute;
width: 312px;
height: 47px;
left: 913px;
top: 255px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 23px;

/* Dark 100% */
color: #1F2041;
}

.font__teg_h3 {
position: absolute;
width: 17px;
height: 15px;
left: 866px;
top: 353px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: right;
text-transform: uppercase;

/* Dark 25% */

color: rgba(31, 32, 65, 0.25);
}

.font__text_h3 {
position: absolute;
width: 186px;
height: 15px;
left: 913px;
top: 353px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

color: #1F2041;
}

.font__teg_body {
position: absolute;
width: 37px;
height: 24px;
left: 846px;
top: 418px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

text-align: right;

/* Dark 25% */

color: rgba(31, 32, 65, 0.25);
}

.font__text_body {
position: absolute;
width: 301px;
height: 48px;
left: 913px;
top: 418px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
}